@import url('includes/_part.less');

html{
	width: 100%;
	height: 100%;
	body{
		width: 100%;
		height: 100%;
		display: flex;
		background-color: #5738ab;
		header{
			width: 100%;
			height: 100%;
		}
		main{
			width: 100%;
			height: 100%;
		}
		footer{
			width: 100%;
			height: 100%;
		}
	}
}